@media only screen and (min-width: 768px) {
  * {
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.5;
  }

  .bg-grey {
    background: #f7f7f7;
  }

  section .container {
    /* width: 1170px; */
    margin: auto;
    display: block;
    padding: 30px 50px;
  }
  /* Banner */
  .name-banner {
    font-size: 48px;
  }
  #banner {
    /* position: relative; */
    text-align: center;
    color: white;
    padding: 50px 50px 200px 50px;
    background-image: url(../images/banner.jpg);
  }
  /* #banner img {
  height: 80%;
}
.banner-note {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
  /* Navbar */
  #nav-bar {
    text-align: center;
    border-bottom: 1px solid #d0d0d0;
  }
  #nav-bar .container {
    display: flex;
    padding: 0;
    justify-content: center;
  }

  #nav-bar a {
    text-decoration: none;
    color: black;
    padding: 30px 10px;
    border-left: 1px solid #d0d0d0;
    cursor: pointer;
  }

  #nav-bar i {
    color: #199cdb;
  }
  .name {
    border-left: 1px solid #d0d0d0;
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    justify-content: center;
  }
  /* Target and personnal info */
  .mt-40.info {
    list-style-type: none;
    padding-left: 0;
  }
  .mt-40.info li {
    padding: 5px 0px;
  }

  #about .container {
    display: flex;
  }

  #target,
  #personal-info {
    width: 50%;
  }
  #target {
    background-color: #f5f5f5;
    padding: 35px;
  }
  #personal-info {
    padding: 0px 35px;
    margin-top: 33px;
  }
  h1.section-title {
    font-size: 24px;
    padding: 50px 0px;
  }
  .icon {
    padding-left: 0px;
    padding-top: 10px;
    color: #199cdb;
  }
  /* Job infor */
  #job-info .container {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: auto;
    gap: 40px;
  }
  .column-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid #d0d0d0;
    box-shadow: 1px 1px 5px #d0d0d0;
    padding: 20px 20px;
    margin: 20px 0px;
  }

  .column-item h1 {
    width: 75%;
    padding: 0px 20px;
  }
  .column-item i {
    width: 25%;
    text-align: center;
    font-size: 36px;
    color: grey;
  }
  .work-detail {
    padding: 40px 20px 0px 20px;
    width: 100%;
  }
  .time-line h5 {
    font-style: italic;
    font-weight: unset;
    padding: 10px 0px;
    color: gray;
  }
  .recent {
    background-color: #199cdb;
    color: white;
    border-radius: 5px;
    padding: 2px 10px;
  }
  .work-content h5 {
    line-height: 1.8;
    font-weight: unset;
    color: gray;
  }
  .hobbies {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px 40px 0px 20px;
  }
  .hobbies-item {
    width: 25%;
  }
  .hobbies-item i {
    width: 50px;
    color: #199cdb;
    font-size: 24px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%;
    line-height: 50px;
  }
  .hobbies-item h5 {
    padding: 10px 0px;
    text-align: center;
  }
  .hobbies-item h5 {
    line-height: 1.8;
    font-weight: unset;
    color: gray;
  }
  .language,
  .skill {
    width: 100%;
    padding-top: 40px;
  }
  .language-item,
  .skill-item {
    width: 100%;
    padding: 0px 20px;
  }
  .rate {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
  }
  .rate div.active {
    height: 2px;
    background-color: #199cdb;
  }
  .rate div {
    margin-right: 10px;
    width: calc(33.33% - 10px);
  }
  .rate div.non-active {
    height: 2px;
    background-color: #d0d0d0;
  }
  /* Certificate */
  #certificate .section-title {
    padding: 20px 0;
  }
  .row-certificate,
  .row-project {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .certificate-item {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d6c08d;
  }
  .certificate-image {
    width: 40%;
  }
  .certificate-image img {
    width: 100%;
  }
  .certificate-item:nth-child(odd) .certificate-content {
    border-right: 1px solid #d6c08d;
  }
  .certificate-content {
    width: calc(60% - 40px);
  }
  /* Project */
  .project-item {
    margin: 0px 20px;
    width: calc(33.33% - 40px);
    display: flex;
    flex-wrap: wrap;
  }
  .project-image {
    width: 100%;
  }
  .project-image img {
    width: 100%;
  }
  .project-name {
    width: 100%;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid #d0d0d0;
  }
  .project-item .time-line {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 10px 20px;
    font-size: 0.8em;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
  }
  .time-line .year {
    padding: 5px 20px;
    background-color: #199cdb;
    color: white;
    border-radius: 20px;
    font-size: 0.8em;
  }
  .project-description {
    font-size: 0.8em;
    color: gray;
  }
  .project-description table,
  .project-description td {
    border-collapse: collapse;
    border: 1px solid #d0d0d0;
  }
  /* footer */
  #footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  #footer ul li {
    margin: 0px 20px;
    display: flex;
    align-items: center;
  }
  #footer ul li i {
    font-size: 1.75rem;
    margin: 0px 5px;
    color: #199cdb;
  }
  /* digital-cv */
  .digital-cv {display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-auto-rows: auto 1fr;
grid-gap: 20px 
;}
  .time-line{
    grid-column: 3 / span 2;
    grid-row: 1/ span 2;
  }
  .cv-digi
  {padding: 20px;}
}

